body {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-check-label {
    cursor: pointer !important;
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.211;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

label {
    font-size: 25px;
    background: radial-gradient(black, transparent);
    color: yellow;
}

.form-group {
    margin-bottom: 0px!important;
}

a {
    color: red!important;
    font-size: 18px;
}

.form-check-label:hover {
    background: radial-gradient(#001a00, transparent);
}

.form-check-label.selected {
    background: radial-gradient(blue, transparent)!important;
}