<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUESS RAP-LINE RZGR</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Lobster&display=swap" rel="stylesheet">
</head>
<body style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,202,234,1) 35%, rgba(0,212,255,1) 100%); position: relative;">
    <div class="container body-content">
        <h1 style="font-family: 'Lobster', cursive; font-size: 70px;">GUESS RAP-LINE RZGR</h1>
        @RenderBody()
        <footer>
            <div class="row">
                <div class="cols-md-12" style="text-align: center; position: relative;">
                    <div style="top: 20px; position: absolute; right: 0; background: black; width: 100%; border-radius: 15px; border: solid 2px red; padding: 10px;">
                        
                        <p style="color: #00ff00; font-size: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                            </svg>
                            <span>ЭПОХАЛЬНЫЕ ЛИЧНОСТИ [БЕЗ НИХ НИЧЕГО БЫ НЕ ВЫШЛО]</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                            </svg>
                        </p>
                        
                        <ul style="list-style: cambodian; color: cyan; text-align: left; margin: 0; padding-left: 20px">
                            <li><a href="https://vk.com/molodoy_danilka">Данниисимо Серван-То-Лиморье (битмейкер)</a></li>
                            <li><a href="https://vk.com/id417550403">Богдан Лагодыч (битмейкер)</a></li>
                            <li><a href="https://vk.com/duhovny999">Виктор Духовный (999 RECORDS | СТУДИЯ ЗВУКОЗАПИСИ СПБ)</a></li>
                            <li><a href="https://vk.com/clutchbeat">LZ beatzz [prod]</a></li>
                            <li><a href="https://vk.com/djdanilaa">DanilaDJ - биты, сведение..</a></li>
                            <li><a href="https://vk.com/andrulikmusic">Андрей Романенко (картинки, биты, сведение)</a></li>
                            <li><a href="https://vk.com/amaz1ng555">Камиль Пивоваров (absolute эпоха)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#main-form-x').on("click", ".form-check-input", function (e) {
            debugger;

            if ($(e.target).prop('checked')) {
                $(e.target).parent().addClass('selected');
            } else {
                $(e.target).parent().removeClass('selected');
            }

            if ($('#main-form-x').find('input[type="checkbox"]:checked').length == 15) {
                $('#main-form-x').find('input[type="checkbox"]').each(function () {
                    $('#xxxxx').removeAttr('disabled');
                    if (!$(this).prop('checked')) {
                        $(this).attr('disabled', 'disabled');
                    }
                });
            } else {
                $('#xxxxx').attr('disabled', 'disabled');
                $('#main-form-x').find('input[type="checkbox"]').each(function () {
                    $(this).removeAttr('disabled');
                });
            }
        });

        $('#xxxxx').click(function () {
            let result = '';

            $('#main-form-x').find('input[type="checkbox"]').each(function () {
                if ($(this).prop('checked')) {
                    result += $(this).val() + ';';
                }
            });

            let $temp = $("<input>");
            $("body").append($temp);
            $temp.val(result).select();
            document.execCommand("copy");
            $temp.remove();
        });
    </script>
</body>
</html>